%md-button
  box-sizing: border-box
  max-width: 100%
  overflow-wrap: anywhere
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: top
  min-width: 64px
  min-height: 40px
  padding: 0 24px
  margin: 4px 8px 4px 0
  background: transparent
  border: 0
  border-radius: var(--md-sys-shape-corner-full)
  font-size: var(--md-sys-typescale-label-large-size)
  font-weight: 500
  letter-spacing: .1px
  line-height: var(--md-sys-typescale-label-large-line-height)
  text-align: center
  text-decoration: none
  text-transform: none
  transition: background-color var(--md-sys-motion-duration-short-4) var(--md-sys-motion-easing-standard), box-shadow var(--md-sys-motion-duration-short-4) var(--md-sys-motion-easing-standard), color var(--md-sys-motion-duration-short-4) var(--md-sys-motion-easing-standard)
  user-select: none

  &:focus
    outline: none

  &:focus-visible
    outline: 3px solid var(--md-sys-color-primary)
    outline-offset: 2px

  &:last-child
    margin-right: 0

%md-button-flat
  @extend %md-button
  color: var(--color-primary)

  &:hover,
  &:focus
    background: var(--color-overlay-primary-hovered)
    color: var(--color-primary)

  &:active
    background: var(--color-overlay-primary-pressed)
    color: var(--color-primary)

  &.disabled,
  &[disabled]
    background-color: transparent
    color: var(--color-text-disabled)
    pointer-events: none

%md-button-raised
  @extend %md-button
  background: var(--color-primary)
  box-shadow: var(--md-sys-elevation-level-0)
  color: var(--color-text-on-primary)

  &:hover,
  &:focus
    background: var(--color-primary-hovered)
    box-shadow: var(--md-sys-elevation-level-1)
    color: var(--color-text-on-primary)

  &:active
    background: var(--color-primary-pressed)
    box-shadow: var(--md-sys-elevation-level-0)
    color: var(--color-text-on-primary)

  &.disabled,
  &[disabled]
    background-color: var(--color-surface-active)
    box-shadow: none
    color: var(--color-text-disabled)
    pointer-events: none
