%md-tooltip
  &::after
    display: block !important
    position: absolute
    padding: 4px 8px
    margin: 4px 8px
    background-color: var(--md-sys-color-inverse-surface)
    border-radius: var(--md-sys-shape-corner-extra-small)
    color: var(--md-sys-color-inverse-on-surface)
    font-size: var(--md-sys-typescale-label-medium-size)
    font-weight: 500
    line-height: var(--md-sys-typescale-label-medium-line-height)
    white-space: nowrap
    z-index: 100
    pointer-events: none
    opacity: 0
    transition: opacity var(--md-sys-motion-duration-short-4) var(--md-sys-motion-easing-standard), transform var(--md-sys-motion-duration-short-4) var(--md-sys-motion-easing-standard)

  &:hover::after
    opacity: 1

%md-tooltip-left
  &::after
    right: 100%
    bottom: 0
    transform: translateX(12px)

  &:hover::after
    transform: translateX(0)

%md-tooltip-top
  &::after
    bottom: 100%
    transform: translateX(-50%) translateY(12px)

  &:hover::after
    transform: translateX(-50%) translateY(0)

%md-tooltip-right
  @extend %md-tooltip

  &::after
    left: 100%
    bottom: 0
    transform: translateX(-12px)

  &:hover::after
    transform: translateX(0)
