/* TOAST */
.toast-message
  display: inline-block
  vertical-align: top
  line-height: 1.5rem

.toast-top-right
  top: auto
  bottom: 0
  right: auto
  left: 0

#toast-container
  line-height: 1.5rem

#toast-container > div
  width: 100%
  max-width: 25rem
  padding: .75rem 1.5rem
  margin: auto
  background-color: var(--md-sys-color-inverse-surface)
  background-size: 0
  border-radius: var(--md-sys-shape-corner-extra-small)
  box-shadow: var(--md-sys-elevation-level-3)
  color: var(--md-sys-color-inverse-on-surface)

#toast-container > .toast-error
  @extend %material-icons
  &::before
    content: 'error_outline'
    float: left
    margin: 0 1rem 0 -.5rem
    font-size: 1.5rem !important

.toast,
.toast-success,
.toast-error
  background-color: var(--md-sys-color-inverse-surface)
  color: var(--md-sys-color-inverse-on-surface)

.toast-container-wazedev
  & > div
    min-width: 344px
    padding: 14px 16px
    margin: 0 0 8px 8px
    background: var(--md-sys-color-inverse-surface) top / 0 0 no-repeat
    border-radius: var(--md-sys-shape-corner-extra-small)
    box-shadow: var(--md-sys-elevation-level-3)
    color: var(--md-sys-color-inverse-on-surface)
    font-size: 14px
    line-height: 20px

    @media (min-width: 960px)
      margin: 0 0 16px 16px

  .toast-message
    line-height: inherit
