.vue-tags-input[class]
  background: transparent

  .ti-input
    padding: 0
    margin-bottom: 8px
    background: transparent
    border: 0
    color: inherit
    line-height: inherit


.ti-autocomplete[class]
  padding: 8px 0
  background: var(--md-sys-color-surface-container)
  border: 0
  border-radius: var(--md-sys-shape-corner-small)
  box-shadow: var(--md-sys-elevation-level-2)


.ti-item > div
  padding: 4px 16px !important


.ti-selected-item[class]
  background: var(--color-overlay-text-selected)
  color: inherit


.ti-tag[class]
  padding: 0 8px
  margin: 4px 8px 4px 0
  background: var(--md-sys-color-secondary-container)
  border-radius: var(--md-sys-shape-corner-small)
  color: var(--md-sys-color-on-secondary-container)
  line-height: 32px

  &.ti-tag[class].ti-deletion-mark
    background: var(--md-sys-color-error-container)
    color: var(--md-sys-color-on-error-container)


.ti-new-tag-input-wrapper[class]
  padding: 0
  margin: 0
  font-size: inherit
