// Функции для расчёта цветов
// Calculate brightness
@function brightness($color)
  $red: color.channel($color, 'red', $space: rgb)
  $green: color.channel($color, 'green', $space: rgb)
  $blue: color.channel($color, 'blue', $space: rgb)
  @return math.div(($red * .299) + ($green * .587) + ($blue * .114), 255) * 100

// Return contrast color
@function color-contrast($color)
  $brightness: brightness($color)
  $light: brightness(#fff)
  $dark: brightness(#000) // 121212
  @if math.abs($brightness - $light) > math.abs($brightness - $dark)
    @return #fff
  @return #000 // 121212



// Определение основной схемы
$color-text-default: color-contrast($color-background)
$theme-dark: false
@if $color-text-default == #fff
  $theme-dark: true



// Перерасчёт ролей поверхности Material 3
$color-text-primary: color.mix($color-text-default, $color-background, 92%)
$color-text-secondary: color.mix($color-text-default, $color-background, 72%)
$color-text-hint: color.mix($color-text-default, $color-background, 60%)
$color-text-disabled: color.mix($color-text-default, $color-background, 38%)
$color-border: color.mix($color-text-default, $color-background, 18%)

// Opacity values
$val-hover: 8%
$val-active: 12%
$val-selected: 8%

// Вычисляемые цвета
$color-area-normal: rgba($color-text-primary, math.div($val-hover, 100%))
$color-button-hover: $color-area-normal

// Замена background-normal / hover / active
$color-background-normal: color.mix($color-text-primary, $color-background, 5%)
$color-area-hover: color.mix($color-text-primary, $color-background-normal, $val-hover)
$color-area-active: color.mix($color-text-primary, $color-background-normal, $val-active)

// Замена background-secondary
$color-background-secondary: color.mix($color-text-primary, $color-background, 5%)

// Замена background-dialog
$color-background-dialog: color.mix($color-text-primary, $color-background, 8%)

$color-tooltip: color.mix($color-background, #545454, 8%)

$release: $release + '++'
