#profiles_show
  .l-page
    @media (min-width: 768px)
      margin-top: 180px // мини фон-обложка


.p-profiles .profile-head
  @media (min-width: 768px) and (max-width: 959px)
    padding-top: 16px // fix пространства для истории

  // Обложка
  &::before
    content: ''
    display: none
    height: 72px
    margin: 0 -16px
    background-image: var(--user-cover)
    background-repeat: no-repeat
    background-size: cover

    @media (max-width: 319px)
      display: none !important

    @media (min-width: 320px) and (max-width: 480px)
      height: 16px
      padding-bottom: 56.25%
      margin-top: -144px

    @media (min-width: 481px)
      height: 268px
      margin-top: -48px

    @media (min-width: 768px)
      height: 296px
      margin-top: -228px

    @media (min-width: 960px)
      height: 424px
      margin: -252px 0 0
      border-radius: var(--md-sys-shape-corner-extra-large) var(--md-sys-shape-corner-extra-large) 0 0

  .c-brief
    @media (min-width: 320px) and (max-width: 480px)
      background-color: var(--color-background-dialog)
      box-shadow: 0 6px 8px -2px rgba(0,0,0,.24)

    @media (min-width: 768px)
      height: 104px

      .avatar
        align-self: flex-end
        min-width: 184px // иконки (40px * 4) + отступы (8px * 3)

        &::before,
        &::after
          @media (min-width: 768px)
            inset: auto auto 68px // 68px -- размер .profile-actions
            width: 160px // TODO: --user-avatar-size
            margin: 0 12px // (184px - var(--user-avatar-size)) / 2

        img
          width: auto

        .profile-actions
          position: static

  .c-history
    @media (min-width: 768px) and (max-width: 959px)
      top: -180px // fix истории для фона-обложки


// Material top app bar в профиле
@media (min-width: 960px)
  #profiles_show
    .l-top_menu-v2
      background-color: var(--color-menu-background-fade)
      background-image: none
      -webkit-backdrop-filter: saturate(140%) blur(12px)
      backdrop-filter: saturate(140%) blur(12px)
      box-shadow: var(--md-sys-elevation-level-1)
      z-index: 11
      transition: background-color var(--md-sys-motion-duration-medium-2) var(--md-sys-motion-easing-standard), box-shadow var(--md-sys-motion-duration-medium-2) var(--md-sys-motion-easing-standard)

      &.is-search-shade,
      &:has(~ .b-to-top.active)
        background-color: var(--color-menu-background-scrolled)
        box-shadow: var(--md-sys-elevation-level-3)

    .b-to-top
      &::before
        display: none
